<div> 
    <section>
    <h1><%= @merchant.name %></h1>
    <h2><%= link_to 'All Items', merchant_items_path(@merchant) %> </h2>
    <h2><%= link_to 'All Invoices', merchant_invoices_path(@merchant) %> </h2>
    <h2><%= link_to 'View Bulk Discounts', merchant_bulk_discounts_path(@merchant) %> </h2>
    </section>

    <div class="row">
      <div class="column" style="width: 50%">
          <%= render partial: 'partials/top_customers' %>
      </div>
    </div> 

    <section>
      <div class="column" style="width: 50%">
          <%= render partial: 'partials/shippable_items' %>
      </div>
    </section>
</div>